<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h2>Iniciar Sesión</h2>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="txtUser" class="fadeIn second" [(ngModel)]="userName" name="userName" placeholder="login">
      <input type="password" id="txtPassword" class="fadeIn third" [(ngModel)]="password" name="password" placeholder="password">
      <input type="button" (click)="loginUser()" class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>
